.header__lang-link_active {
    text-decoration: underline;
    margin-right: 18px;
    max-width: 30px;
}

@media screen and (max-width:568px) {
    .header__lang-link_active {
        max-width: 22px;
    }
}

.header__lang-link_active::first-child {
    text-decoration: underline;
}