.header__logo {
    max-width: 176px;
    min-height: 52px;
}

@media screen and (max-width:984px) {
    .header__logo {
        min-width: 42px;
    }
}

@media screen and (max-width:568px) {
    .header__logo {
        min-width: 142px;
    }
}