.intro__text {
    font-size: 16px;
    line-height: 26px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 33px;
}

@media screen and (max-width:568px) {
    .intro__text {
        margin-bottom: 16px;
    }
}